
<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="InitialInvestment">INITIAL INVESTMENT</label>
            <input type="number" id="InitialInvestment" name="InitialInvestment" [(ngModel)]="enteredInitialInvestment" />
        </p>

        <p>
            <label for="AnnualInvestment">ANNUAL INVESTMENT</label>
            <input type="number" id="AnnualInvestment" name="AnnualInvestment" [(ngModel)]="enteredAnnualInvestment" />
        </p>

    </div>
    <div class="input-group">
        <p>
            <label for="ExpectedReturn">EXPECTED RETURN</label>
            <input type="number" id="ExpectedReturn" name="ExpectedReturn" [(ngModel)]="enteredExpectedReturn" />
        </p>

        <p>
            <label for="Duration">DURATION</label>
            <input type="number" id="Duration" name="Duration" [(ngModel)]="enteredDuration" />
        </p>
    </div>

    <div>
        <p>
            <button type="submit">Calculate</button>
        </p>
    </div>
</form>

<app-investment-list />
