<form>
    <p>
        <label title="InitialInvestment">INITIAL INVESTMENT</label>
        <input title="InitialInvestment" type="text" id="InitialInvestment" name="InitialInvestment" />
    </p>

    <p>
        <label title="AnnualInvestment">ANNUAL INVESTMENT</label>
        <input title="AnnualInvestment" type="text" id="AnnualInvestment" name="AnnualInvestment" />
        <!-- <input type="text" id="Duration" name="Duration" [(ngModel)]="enteredTitle" /> -->
        
    </p>

    <p>
        <label title="ExpectedReturn">EXPECTED RETURN</label>
        <input title="ExpectedReturn" type="text" id="ExpectedReturn" name="ExpectedReturn" />
    </p>

    <p>
        <label title="Duration">DURATION</label>
        <input title="Duration" type="text" id="Duration" name="Duration" />
    </p>

    <button type="submit">Calculate</button>
</form>