<!-- <app-header />

<app-calculate></app-calculate> -->

<!-- <app-pipe-practice></app-pipe-practice> -->

<!-- <app-pipe></app-pipe> -->


<main>
    <app-learning-resources />
  
    <hr />
  
    <app-auth />

    <!-- @if(isAdmin()){
    <p>Only admins should see this!</p>
} -->
<!-- <p *ngIf="isAdmin()">Only admins should see this!</p> -->

<!-- <ng-template appAuth="admin">
    <p>Only admins should see this!</p>
</ng-template> -->
<!-- * before a structural directive is used to call/use ng-template behind the scenes and minimize the code -->
    <p *appAuth="'admin'" class="protected-content admin">Only admins should see this!</p>
    <p *appAuth="'user'" class="protected-content unauthenticated">Regular users should see this!</p>
    <p *appAuth="'guest'" class="protected-content authenticated">Guest users should see this!/p>
</main>
  